stryktipsfinder/src/main/wsdl/StryktipsFinderServiceImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. -->
<definitions targetNamespace="http://service.stryktipsfinder.tips.robert.org/" name="StryktipsFinderServiceImplService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.stryktipsfinder.tips.robert.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.stryktipsfinder.tips.robert.org/" schemaLocation="StryktipsFinderServiceImplService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getSystemInfoWithOnlyLatestSystem">
    <part name="parameters" element="tns:getSystemInfoWithOnlyLatestSystem"/>
  </message>
  <message name="getSystemInfoWithOnlyLatestSystemResponse">
    <part name="parameters" element="tns:getSystemInfoWithOnlyLatestSystemResponse"/>
  </message>
  <message name="sendSystemToServer">
    <part name="parameters" element="tns:sendSystemToServer"/>
  </message>
  <message name="sendSystemToServerResponse">
    <part name="parameters" element="tns:sendSystemToServerResponse"/>
  </message>
  <message name="NoSystemFoundException">
    <part name="fault" element="tns:NoSystemFoundException"/>
  </message>
  <message name="informServerNumberOfTestRuns">
    <part name="parameters" element="tns:informServerNumberOfTestRuns"/>
  </message>
  <message name="informServerNumberOfTestRunsResponse">
    <part name="parameters" element="tns:informServerNumberOfTestRunsResponse"/>
  </message>
  <message name="reserveNextUnitOfWork">
    <part name="parameters" element="tns:reserveNextUnitOfWork"/>
  </message>
  <message name="reserveNextUnitOfWorkResponse">
    <part name="parameters" element="tns:reserveNextUnitOfWorkResponse"/>
  </message>
  <message name="completedUnitOfWork">
    <part name="parameters" element="tns:completedUnitOfWork"/>
  </message>
  <message name="completedUnitOfWorkResponse">
    <part name="parameters" element="tns:completedUnitOfWorkResponse"/>
  </message>
  <message name="endSearchForTheSystem">
    <part name="parameters" element="tns:endSearchForTheSystem"/>
  </message>
  <message name="endSearchForTheSystemResponse">
    <part name="parameters" element="tns:endSearchForTheSystemResponse"/>
  </message>
  <portType name="StryktipsFinderServiceImpl">
    <operation name="getSystemInfoWithOnlyLatestSystem">
      <input message="tns:getSystemInfoWithOnlyLatestSystem"/>
      <output message="tns:getSystemInfoWithOnlyLatestSystemResponse"/>
    </operation>
    <operation name="sendSystemToServer">
      <input message="tns:sendSystemToServer"/>
      <output message="tns:sendSystemToServerResponse"/>
      <fault message="tns:NoSystemFoundException" name="NoSystemFoundException"/>
    </operation>
    <operation name="informServerNumberOfTestRuns">
      <input message="tns:informServerNumberOfTestRuns"/>
      <output message="tns:informServerNumberOfTestRunsResponse"/>
      <fault message="tns:NoSystemFoundException" name="NoSystemFoundException"/>
    </operation>
    <operation name="reserveNextUnitOfWork">
      <input message="tns:reserveNextUnitOfWork"/>
      <output message="tns:reserveNextUnitOfWorkResponse"/>
    </operation>
    <operation name="completedUnitOfWork">
      <input message="tns:completedUnitOfWork"/>
      <output message="tns:completedUnitOfWorkResponse"/>
    </operation>
    <operation name="endSearchForTheSystem">
      <input message="tns:endSearchForTheSystem"/>
      <output message="tns:endSearchForTheSystemResponse"/>
    </operation>
  </portType>
  <binding name="StryktipsFinderServiceImplPortBinding" type="tns:StryktipsFinderServiceImpl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getSystemInfoWithOnlyLatestSystem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="sendSystemToServer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoSystemFoundException">
        <soap:fault name="NoSystemFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="informServerNumberOfTestRuns">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NoSystemFoundException">
        <soap:fault name="NoSystemFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="reserveNextUnitOfWork">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="completedUnitOfWork">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="endSearchForTheSystem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="StryktipsFinderServiceImplService">
    <port name="StryktipsFinderServiceImplPort" binding="tns:StryktipsFinderServiceImplPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

