TAanalys/src/main/wsdl/AnalysService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. -->
<definitions targetNamespace="http://service.taanalys.robert.org/" name="AnalysService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.taanalys.robert.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.taanalys.robert.org/" schemaLocation="AnalysService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="hamtaTAProcentIntradag">
    <part name="parameters" element="tns:hamtaTAProcentIntradag"/>
  </message>
  <message name="hamtaTAProcentIntradagResponse">
    <part name="parameters" element="tns:hamtaTAProcentIntradagResponse"/>
  </message>
  <message name="hamtaUSAOppningseffektFranDatum">
    <part name="parameters" element="tns:hamtaUSAOppningseffektFranDatum"/>
  </message>
  <message name="hamtaUSAOppningseffektFranDatumResponse">
    <part name="parameters" element="tns:hamtaUSAOppningseffektFranDatumResponse"/>
  </message>
  <message name="hamtaUppgangsdagarPgaUSAOppningMedDatumintervall">
    <part name="parameters" element="tns:hamtaUppgangsdagarPgaUSAOppningMedDatumintervall"/>
  </message>
  <message name="hamtaUppgangsdagarPgaUSAOppningMedDatumintervallResponse">
    <part name="parameters" element="tns:hamtaUppgangsdagarPgaUSAOppningMedDatumintervallResponse"/>
  </message>
  <message name="hamtaNedgangsdagarPgaUSAOppningMedDatumerintervall">
    <part name="parameters" element="tns:hamtaNedgangsdagarPgaUSAOppningMedDatumerintervall"/>
  </message>
  <message name="hamtaNedgangsdagarPgaUSAOppningMedDatumerintervallResponse">
    <part name="parameters" element="tns:hamtaNedgangsdagarPgaUSAOppningMedDatumerintervallResponse"/>
  </message>
  <message name="hamtaForLitenRorelsedagarPgaUSAOppningMedDatumintervall">
    <part name="parameters" element="tns:hamtaForLitenRorelsedagarPgaUSAOppningMedDatumintervall"/>
  </message>
  <message name="hamtaForLitenRorelsedagarPgaUSAOppningMedDatumintervallResponse">
    <part name="parameters" element="tns:hamtaForLitenRorelsedagarPgaUSAOppningMedDatumintervallResponse"/>
  </message>
  <message name="hamtaMestLikaGraferMedDeltaAlgoritm">
    <part name="parameters" element="tns:hamtaMestLikaGraferMedDeltaAlgoritm"/>
  </message>
  <message name="hamtaMestLikaGraferMedDeltaAlgoritmResponse">
    <part name="parameters" element="tns:hamtaMestLikaGraferMedDeltaAlgoritmResponse"/>
  </message>
  <message name="hamtaProcentIntradag">
    <part name="parameters" element="tns:hamtaProcentIntradag"/>
  </message>
  <message name="hamtaProcentIntradagResponse">
    <part name="parameters" element="tns:hamtaProcentIntradagResponse"/>
  </message>
  <portType name="AnalysService">
    <operation name="hamtaTAProcentIntradag">
      <input message="tns:hamtaTAProcentIntradag"/>
      <output message="tns:hamtaTAProcentIntradagResponse"/>
    </operation>
    <operation name="hamtaUSAOppningseffektFranDatum">
      <input message="tns:hamtaUSAOppningseffektFranDatum"/>
      <output message="tns:hamtaUSAOppningseffektFranDatumResponse"/>
    </operation>
    <operation name="hamtaUppgangsdagarPgaUSAOppningMedDatumintervall">
      <input message="tns:hamtaUppgangsdagarPgaUSAOppningMedDatumintervall"/>
      <output message="tns:hamtaUppgangsdagarPgaUSAOppningMedDatumintervallResponse"/>
    </operation>
    <operation name="hamtaNedgangsdagarPgaUSAOppningMedDatumerintervall">
      <input message="tns:hamtaNedgangsdagarPgaUSAOppningMedDatumerintervall"/>
      <output message="tns:hamtaNedgangsdagarPgaUSAOppningMedDatumerintervallResponse"/>
    </operation>
    <operation name="hamtaForLitenRorelsedagarPgaUSAOppningMedDatumintervall">
      <input message="tns:hamtaForLitenRorelsedagarPgaUSAOppningMedDatumintervall"/>
      <output message="tns:hamtaForLitenRorelsedagarPgaUSAOppningMedDatumintervallResponse"/>
    </operation>
    <operation name="hamtaMestLikaGraferMedDeltaAlgoritm">
      <input message="tns:hamtaMestLikaGraferMedDeltaAlgoritm"/>
      <output message="tns:hamtaMestLikaGraferMedDeltaAlgoritmResponse"/>
    </operation>
    <operation name="hamtaProcentIntradag">
      <input message="tns:hamtaProcentIntradag"/>
      <output message="tns:hamtaProcentIntradagResponse"/>
    </operation>
  </portType>
  <binding name="AnalysServicePortBinding" type="tns:AnalysService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="hamtaTAProcentIntradag">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="hamtaUSAOppningseffektFranDatum">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="hamtaUppgangsdagarPgaUSAOppningMedDatumintervall">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="hamtaNedgangsdagarPgaUSAOppningMedDatumerintervall">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="hamtaForLitenRorelsedagarPgaUSAOppningMedDatumintervall">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="hamtaMestLikaGraferMedDeltaAlgoritm">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="hamtaProcentIntradag">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="AnalysService">
    <port name="AnalysServicePort" binding="tns:AnalysServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

